@import './variables.scss';
@import './sidebar.scss';

@font-face {
  font-family: 'Regular';
  src: url('../assets/fonts/Alibaba-PuHuiTi-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Regular";
}

.head{
  margin-bottom: 20px;
}



html,
body,
#app {
  width: 100%;
  height: 100%;
}


.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #fff;
  color: #409eff;
  border: 1px solid #409eff;
}

.el-pagination.is-background .el-pager li {
  border: 1px solid #bbb;
  background-color: #fff;
}

 .el-pagination.is-background .btn-prev {
  border: 1px solid #bbb;
  background-color: #fff;
}

 .el-pagination.is-background .btn-next {
  border: 1px solid #bbb;
  background-color: #fff;
}